node_modules
dist
.git
.gitignore
.vscode
Dockerfile
docker-compose.yml
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
firebase-service-account

.env.local
.env.development
.env.production
.env.test

coverage
cache
